protobuf==4.21.12
pygame==2.1.0
grpcio==1.51.1
gym==0.26.2
gym[box2d]==0.26.2
gym[mujoco]==0.26.2
gym[mujoco_py]==0.26.2
numpy==1.24.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1
wandb==0.13.9
rocketsim==0.1.3
